* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  @font-face {
    font-family: Old;
    src: url(font/OLD.woff);
  }
  
  html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    min-height: 100%;
    background-color: #fff;
  }
  
  .bg {
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
  }
  
  section{
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  /* Header Nav */
  header {
    position: fixed;
    width: 100%;
    min-height: 80px;
    /* background-color: #1434A4; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  header .logo img {
    height: 60px;
    padding: 5px 0px 0px 5px;
  }
  header ul {
    position: relative;
    padding-right: 30px;
  }
  header ul li {
    position: inherit;
    list-style: none;
    float: left;
  }
  header ul li a {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 1.1em;
    padding: 20px 20px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
      0 -2px black, -1.41px -1.41px black, -2px 0 black, -1.41px 1.41px black,
      0 2px black;
  }
  header ul li a:hover {
    /* background-color: #0818A8; */
    color: #318ce7;
  }
  header ul li ul {
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
  }
  header ul li:hover ul {
    display: block;
  }
  header ul li ul li {
    position: relative;
    width: 100%;
    border: 1px solid rgb(0, 0, 0, 0);
  }

.history-wrapper{
    position: relative;
    padding-top: 60px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

.row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    margin: 0px 10px 0px 10px;
    gap: 50px;
}

.row table th{
  font-weight: 400;
  font-size: 0.9em;
}

table{
  color: #fff;
  background-color: #1434a4;
  border-radius: 10px;
  justify-content: center;
}
.table table th{

  padding:5px;
}

.table2 table th{
font-size: 1.5em;
line-height: 2.2em;
}

/* Footer */
.footer {
    height: 320px;
    width: 100%;
    margin-top: auto;
    position: relative;
    background-color: #1434a4;
  }
  .footer-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .footer-title img {
    height: 50px;
    width: auto;
    padding-right: 5px;
    margin-top: 20px;
  }
  .footer-title h2 {
    color: #fff;
    padding-top: 10px;
  }
  .horizontal-line {
    border-bottom: 3px solid #fff;
    width: auto;
    margin: 0px 300px 0px 300px;
    /* position: absolute;
        left: 30%; */
  }
  .f-contact-us {
    color: #fff;
    font-size: 18px;
    padding-top: 20px;
    text-align: center;
    font-weight: lighter;
    font-weight: bold;
  }
  .f-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #fff;
    font-family: Arial;
  }
  .f-container > div > p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  .f-container .contact-links p a {
    text-decoration: none;
    color: #fff;
  }
  .f-container .contact-links p a:visited {
    text-decoration: none;
    color: #fff;
  }
  .f-container .contact-links p a:hover {
    text-decoration: underline;
    color: #fff;
  }
  .f-container div img {
    width: 20px;
    height: 20px;
    padding-right: 3px;
  }
  .contact-links p a img {
    padding-right: 7px;
  }
  .copyright-section {
    height: 50px;
    width: 100%;
    color: #fff;
  }
  .copyright-section h3 {
    text-align: center;
    color: white;
    background-color: #1434a4;
    font-size: 15px;
    padding-top: 25px 0px 25px 0px;
  }

  @media(max-width: 320px) {

    .row{
      display: grid;
      grid-template-columns: 1fr;
  width: auto;
    }

    .footer{
      display: grid;
      grid-template-columns: 1fr;
    }
  }