* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: Old;
  src: url(font/OLD.woff);
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  min-height: 100vh;
  background-color: #fff;
}

.bg {
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

/* Header Nav */
header {
  position: fixed;
  width: 100%;
  min-height: 80px;
  /* background-color: #1434A4; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
header .logo img {
  height: 60px;
  padding: 5px 0px 0px 5px;
}
header ul {
  position: relative;
  padding-right: 30px;
}
header ul li {
  position: inherit;
  list-style: none;
  float: left;
}
header ul li a {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1.1em;
  padding: 20px 20px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
    0 -2px black, -1.41px -1.41px black, -2px 0 black, -1.41px 1.41px black,
    0 2px black;
}
header ul li a:hover {
  /* background-color: #0818A8; */
  color: #318ce7;
}
header ul li ul {
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
}
header ul li:hover ul {
  display: block;
}
header ul li ul li {
  position: relative;
  width: 100%;
  border: 1px solid rgb(0, 0, 0, 0);
}

/* Home */

.video {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.home-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.arr-down{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 10px;
  padding: 50px;
  color: #fff;
  bottom: 0;
}

.arr-down .arr{
  background-color: rgb(0, 0, 0, 0.5);
  width: 50px;
  border-radius: 100%;
}

.arr-down .arr span{
  font-size: 2em;
}

.arr-down p{
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 50px;
  padding: 5px;
  font-size: 16px;
}

.arr a{
  color: #fff;
  text-decoration: none;
}

.arr-down .arr:hover{
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.15);
}
.home-content h2 {
  font-family: Old;
  color: #fff;
  font-size: 5.2rem;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 #000, 0 2px 0 #000, 0 3px 0 #000, 0 4px 0 #000;
}

#welcome{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  text-align: center;
  align-content: center;
  height: 100vh;
  color: #1434a4;
}

#welcome .introduction{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}

.introduction h1{
  font-size: 92px;
}

.introduction p{
  font-size: 24px;
}
.btn {
  margin-top: 20px;
}

#home-extra {
  position: relative;
  width: 100%;
  height: 100vh;
}

.w-container {
  height: auto;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  color: #17569a;
}

.i-card-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 80vh;
}

.i-cards ul {
  text-align: left;
}

.i-cards ul.diff {
  text-align: center;
}

.b-cards {
  display: inline-block;
  border: 3px solid #17569a;
  font-size: 2.5rem;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: #ffffff;
  position: relative;

  &::before {
    content: "";
    border: 2px solid #17569a;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
}

.b-cards .img img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.h-title .iist {
  font-family: Old;
}

.ad-container {
  height: auto;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: #17569a;
}
.ad-card-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 80%;
  gap: 30px;
}

.ad-card-wrap .cards {
  width: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.ad-card-wrap .cards h1 {
  font-size: 42px;
}

/* Academics page */
span.title-color {
  color: #1877f2;
}
.btn {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
.btn a {
  text-decoration: none;
  font-size: 1rem;
  padding: 13px 35px;
  font-weight: 500;
  border-radius: 5px;
}

.btn a.blue {
  color: #17569a;
  background-color: #ffd700;
}
.btn a.blue:hover {
  transform: scale(1.05);
}
.h-container {
  height: auto;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  color: #17569a;
}
.h-card-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.h-card-college {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  gap: 40px;
}

.h-title h1 {
  font-size: 50px;
  font-weight: 800;
  text-shadow: 0 1px 0 #b9d9eb, 0 2px 0 #b9d9eb, 0 3px 0 #b9d9eb,
    0 4px 0 #b9d9eb, 0 5px 0 #b9d9eb, 0 6px 0 #b9d9eb;
}

.h-subtitle {
  font-size: 16px;
}

.cards ul {
  text-align: left;
}

.swiper {
  width: 100%;
  height: 100vh;
  z-index: 0;
  text-align: center;
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet-active {
  background-color: #17569a !important;
}
.swiper-button-prev {
  color: #17569a;
}
.swiper-button-next {
  color: #17569a;
}
.swiper-button-prev:hover {
  color: #0071c5;
}
.swiper-button-next:hover {
  color: #0071c5;
}

/* Footer */
.footer {
  height: 320px;
  width: 100%;
  margin-top: auto;
  background-color: #1434a4;
}
.footer-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 15px;
}
.footer-title img {
  height: 50px;
  width: auto;
  padding-right: 5px;
  margin-top: 20px;
}
.footer-title h2 {
  color: #fff;
  padding-top: 10px;
}
.horizontal-line {
  border-bottom: 3px solid #fff;
  width: auto;
  margin: 0px 300px 0px 300px;
  /* position: absolute;
      left: 30%; */
}
.f-contact-us {
  color: #fff;
  font-size: 18px;
  padding-top: 20px;
  text-align: center;
  font-weight: lighter;
  font-weight: bold;
}
.f-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #fff;
  font-family: Arial;
}
.f-container > div > p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}
.f-container .contact-links p a {
  text-decoration: none;
  color: #fff;
}
.f-container .contact-links p a:visited {
  text-decoration: none;
  color: #fff;
}
.f-container .contact-links p a:hover {
  text-decoration: underline;
  color: #fff;
}
.f-container div img {
  width: 20px;
  height: 20px;
  padding-right: 3px;
}
.contact-links p a img {
  padding-right: 7px;
}
.copyright-section {
  height: 50px;
  width: 100%;
  color: #fff;
}
.copyright-section h3 {
  text-align: center;
  color: white;
  background-color: #1434a4;
  font-size: 15px;
  padding-top: 25px 0px 25px 0px;
}

@media (max-width: 320px) or (max-width: 480px) {
  header {
    padding: 10px 20px;
    background-color: #0047ab;
  }
  header nav {
    position: absolute;
    width: 100%;
    top: 66px;
    left: 0px;
    background-color: #0047ab;
    display: none;
  }

  header.active nav {
    display: initial;
  }
  header nav ul li {
    margin: auto;
    width: 100%;
  }
  header nav ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }
  header nav ul li ul li {
    top: 0;
    left: 0;
  }
  header nav ul li:hover ul li {
    background-color: #0047ab;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuToggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(-12px);
    box-shadow: 0 12px #fff;
  }
  .menuToggle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(12px);
  }
  header.active .menuToggle::before {
    transform: rotate(45deg);
    box-shadow: 0 0 #fff;
  }

  header.active .menuToggle::after {
    transform: rotate(315deg);
  }

  #home-extra {
    display: none;
  }

  .h-container{
    display: grid;
    grid-template-columns: 1fr;
  }

  .h-container .h-title h1{
    font-size: 1.8em;
  }

  .h-card-wrap p{
    display: none;
  }

  .hs-card-wrap{
    display: grid;
    grid-template-columns: 1fr;
  }

  .hs-card-wrap p{
    display: none;
  }

  .h-card-wrap .cards li{
    font-size: 0.5em;
  }

  .c-cards li{
    font-size: 0.5em;
  }

  .c-cards h3{
    display: none;
  }

  .footer{
    margin-top: 0px;
    padding-top: 0px; 
    overflow: hidden;
  }
}

@media (max-width: 600px) {
  header {
    padding: 10px 20px;
    background-color: #0047ab;
  }
  header nav {
    position: absolute;
    width: 100%;
    top: 66px;
    left: 0px;
    background-color: #0047ab;
    display: none;
  }

  header.active nav {
    display: initial;
  }
  header nav ul li {
    margin: auto;
    width: 100%;
  }
  header nav ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }
  header nav ul li ul li {
    top: 0;
    left: 0;
  }
  header nav ul li:hover ul li {
    background-color: #0047ab;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuToggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(-12px);
    box-shadow: 0 12px #fff;
  }
  .menuToggle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(12px);
  }
  header.active .menuToggle::before {
    transform: rotate(45deg);
    box-shadow: 0 0 #fff;
  }

  header.active .menuToggle::after {
    transform: rotate(315deg);
  }

  #home-extra {
    display: none;
  }

  .h-container{
    display: grid;
    grid-template-columns: 1fr;
  }

  .h-container .h-title h1{
    font-size: 1.8em;
  }

  .h-card-wrap p{
    display: none;
  }

  .hs-card-wrap{
    display: grid;
    grid-template-columns: 1fr;
  }

  .hs-card-wrap p{
    display: none;
  }

  .h-card-wrap .cards li{
    font-size: 0.5em;
  }

  .c-cards li{
    font-size: 0.5em;
  }

  .c-cards h3{
    display: none;
  }


  .footer{
    margin-top: 0px;
    padding-top: 0px; 
    overflow: hidden;
  }
}

@media(max-width: 900px) {
  header {
    padding: 10px 20px;
    background-color: #0047ab;
  }
  header nav {
    position: absolute;
    width: 100%;
    top: 66px;
    left: 0px;
    background-color: #0047ab;
    display: none;
  }

  header.active nav {
    display: initial;
  }
  header nav ul li {
    margin: auto;
    width: 100%;
  }
  header nav ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }
  header nav ul li ul li {
    top: 0;
    left: 0;
  }
  header nav ul li:hover ul li {
    background-color: #0047ab;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuToggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(-12px);
    box-shadow: 0 12px #fff;
  }
  .menuToggle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(12px);
  }
  header.active .menuToggle::before {
    transform: rotate(45deg);
    box-shadow: 0 0 #fff;
  }

  header.active .menuToggle::after {
    transform: rotate(315deg);
  }

  #home-extra {
    display: none;
  }

  .h-container{
    display: grid;
    grid-template-columns: 1fr;
  }

  .h-container .h-title h1{
    font-size: 1.8em;
  }

 

  .hs-card-wrap{
    display: grid;
    grid-template-columns: 1fr;
  }

  .c-cards li{
    font-size: 0.6em;
  }



  .footer{
    margin-top: 0px;
    padding-top: 0px; 
    overflow: hidden;
  }
}

@media (max-width: 1000px) or (max-width: 1200px) {
  header {
    padding: 10px 20px;
    background-color: #0047ab;
  }
  header nav {
    position: absolute;
    width: 100%;
    top: 66px;
    left: 0px;
    background-color: #0047ab;
    display: none;
  }

  header.active nav {
    display: initial;
  }
  header nav ul li {
    margin: auto;
    width: 100%;
  }
  header nav ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }
  header nav ul li ul li {
    top: 0;
    left: 0;
  }
  header nav ul li:hover ul li {
    background-color: #0047ab;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuToggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(-12px);
    box-shadow: 0 12px #fff;
  }
  .menuToggle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(12px);
  }
  header.active .menuToggle::before {
    transform: rotate(45deg);
    box-shadow: 0 0 #fff;
  }

  header.active .menuToggle::after {
    transform: rotate(315deg);
  }

  /* #home-extra {
    display: none;
  } */
  
  .w-container{
    display: grid;
    grid-template-columns: 1fr;
  }

  .i-cards h1, .i-cards p{
    text-align: left;
  }
  .i-cards li, .i-cards p{
    font-size: 0.9em;
  }

  .h-container{
    display: grid;
    grid-template-columns: 1fr;
  }

  .h-container .h-title h1{
    font-size: 1.8em;
  }

  .hs-card-wrap{
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer{
    margin-top: 0px;
    padding-top: 0px; 
    overflow: hidden;
  }
}