* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: Old;
  src: url(font/OLD.woff);
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  min-height: 100vh;
  font-family: Poppins;
}

.bg {
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

/* Header Nav */
header {
  position: fixed;
  width: 100%;
  min-height: 80px;
  /* background-color: #1434A4; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}
header .logo img {
  height: 60px;
  padding: 5px 0px 0px 5px;
}
header ul {
  position: relative;
  padding-right: 30px;
}
header ul li {
  position: inherit;
  list-style: none;
  float: left;
}
header ul li a {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1.1em;
  padding: 20px 20px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
    0 -2px black, -1.41px -1.41px black, -2px 0 black, -1.41px 1.41px black,
    0 2px black;
}
header ul li a:hover {
  /* background-color: #0818A8; */
  color: #318ce7;
}
header ul li ul {
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
}
header ul li:hover ul {
  display: block;
}
header ul li ul li {
  position: relative;
  width: 100%;
  border: 1px solid rgb(0, 0, 0, 0);
}

/* Home */

.video {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.home-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.arr-down {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 10px;
  padding: 50px;
  color: #fff;
  bottom: 0;
}

.arr-down .arr {
  background-color: rgb(0, 0, 0, 0.5);
  width: 50px;
  border-radius: 100%;
}

.arr-down .arr span {
  font-size: 2em;
}

.arr-down p {
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 50px;
  padding: 5px;
  font-size: 16px;
}

.arr a {
  color: #fff;
  text-decoration: none;
}

.arr-down .arr:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.15);
}

.home-content h2 {
  font-family: Old;
  color: #fff;
  font-size: 5.2rem;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 #000, 0 2px 0 #000, 0 3px 0 #000, 0 4px 0 #000;
}

/* Welcome section and arrow properites */
#welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #1434a4;
}

#welcome .introduction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}

.introduction h1 {
  font-size: 10em;
}

.introduction p {
  font-size: 42px;
}

#welcome h2 {
  font-size: 3em;
}
.btn {
  margin-top: 20px;
}

#home-extra {
  position: relative;
  width: 100%;
  height: 100vh;
}

.w-container {
  height: auto;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  color: #17569a;
}

.i-card-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 80vh;
}

.i-cards ul {
  text-align: left;
}

.i-cards ul.diff {
  text-align: center;
}

.b-cards {
  display: inline-block;
  border: 3px solid #17569a;
  font-size: 2.5rem;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: #ffffff;
  position: relative;

  &::before {
    content: "";
    border: 2px solid #17569a;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
}

.b-cards .img img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.h-title .iist {
  font-family: Old;
}

.ad-container {
  height: auto;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: #17569a;
}
.ad-card-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 80%;
  gap: 30px;
}

.ad-card-wrap .cards {
  width: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.ad-card-wrap .cards h1 {
  font-size: 42px;
}

/* Arrow-down */
.arr-down2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 10px;
  padding: 50px;
  bottom: 0;
}

.arr2 a {
  color: #fff;
  text-decoration: none;
}

.arr-down2 .arr2 {
  background-color: rgb(20, 52, 164, 1);
  width: 50px;
  border-radius: 100%;
}

.arr-down2 .arr2 span {
  font-size: 2em;
}

.arr-down2 .arr2:hover {
  background-color: rgb(0, 113, 197);
  transform: scale(1.15);
}

/* Why choose us */
#identity {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #fff;
  background-color: #1434a4;
}

#identity .card-ic {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  gap: 50px;
  font-size: 1em;
  color: #fff;
}

.why-choose h1 {
  font-size: 4em;
  margin: 50px;
}

.card-ic .cardz {
  height: 100%;
  width: 15vw;
  border-radius: 24px;
  background-color: #17569a;
}

.card-ic .cardz img {
  height: 64px;
  width: 64px;
}
/* News index section */
#news {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #1434a4;
}

#news h1 {
  font-size: 4em;
}

.news-events {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.news-events img {
  border: solid 2px #1434a4;
  width: 540px;
  height: 320px;
}

.i-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
}

.i-news {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.i-news img {
  height: 240px;
  width: 240px;
}

.btn2 {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.btn2 a {
  text-decoration: none;
  font-size: 1rem;
  width: 50%;
  font-weight: 500;
  border-radius: 5px;
}

.btn2 a.blue {
  color: #17569a;
  background-color: #ffd700;
}
.btn2 a.blue:hover {
  transform: scale(1.05);
}

/* Google map */
#location {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #fff;
  background-color: #1434a4;
  gap: 24px;
}

#location h1 {
  font-size: 3em;
}

#map iframe {
  width: 800px;
  height: 600px;
}

/* Academics page */
span.title-color {
  color: #1877f2;
}
.btn {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
.btn a {
  text-decoration: none;
  font-size: 1rem;
  padding: 13px 35px;
  font-weight: 500;
  border-radius: 5px;
}

.btn a.blue {
  color: #17569a;
  background-color: #ffd700;
}
.btn a.blue:hover {
  transform: scale(1.05);
}
.h-container {
  height: auto;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  color: #17569a;
}

.hs-card-wrap {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.h-card-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.h-card-college {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  gap: 40px;
}

.h-title h1 {
  font-size: 50px;
  font-weight: 800;
  text-shadow: 0 1px 0 #b9d9eb, 0 2px 0 #b9d9eb, 0 3px 0 #b9d9eb,
    0 4px 0 #b9d9eb, 0 5px 0 #b9d9eb, 0 6px 0 #b9d9eb;
}

.h-subtitle {
  font-size: 16px;
}

.cards ul {
  text-align: left;
}

.swiper {
  width: 100%;
  height: 100vh;
  z-index: 0;
  text-align: center;
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev {
  color: #17569a;
}
.swiper-button-next {
  color: #17569a;
}
.swiper-button-prev:hover {
  color: #0071c5;
}
.swiper-button-next:hover {
  color: #0071c5;
}

/* Campus */

.facilities {
  height: 100%;
  position: relative;
  color: #1434a4;
}

.facilities h1 {
  font-size: 2em;
}

.facilities-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  gap: 24px;
}

.facilities-content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: auto;
  text-align: center;
  gap: 64px;
}

.facilities-content img {
  height: 240px;
  width: 360px;
  border-radius: 25%;
}

.events-extra {
  height: 100%;
  position: relative;
  color: #fff;
  background-color: #17569a;
}
.hsc-container {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
}

.cards .hsc-title h1 {
  font-size: 72px;
  text-shadow: 0 1px 0 #7cb9e8, 0 2px 0 #7cb9e8, 0 3px 0 #7cb9e8,
    0 4px 0 #7cb9e8, 0 5px 0 #7cb9e8, 0 6px 0 #7cb9e8;
}
.student-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 10px;
}

.item {
  padding: 5px;
  margin: auto;
  width: auto;
  text-align: center;
}

.item a {
  color: #fff;
  text-decoration: none;
}

.item a:visited {
  color: #fff;
}

.item img {
  max-width: 50%;
  max-height: 50%;
  border-radius: 50%;
}

.item img:hover {
  scale: 1.05;
}
/* News page */
#news-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #1434a4;
}

.news-wrap {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
  text-align: left;
  align-content: center;

  position: relative;
}

.news-cc1 {
  height: 600px;
  padding: 5px;
}

.news-cc1 img {
  width: 100%;
  height: 90%;
  object-fit: fill;
  border: solid 2px #002d62;
}

.news-cc2 img {
  width: 360px;
  height: 260px;
  object-fit: fill;
  border: solid 2px #002d62;
}

.news-card a,
.news-card2 a {
  text-decoration: none;
  color: #1434a4;
}

.single {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 900px;
}

.double {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 340px;
}

#related-post {
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  gap: 16px;
  background-color: #1434a4;
}

.rp-wrap {
  display: grid;
  grid-template-columns: auto;
  margin: 32px;
}

.rp-wrap hr {
  color: #fff;
  font-size: 2em;
  width: 80vw;
  margin: 12px 0px 24px 0px;
}

.rp-content-wrap {
  display: grid;
  grid-template-columns: auto auto;
  gap: 12px;
}

.fb-page {
  width: 500px;
}
#related-post hr {
  margin: 4px;
}
.news-card-wrap {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 16px;
}

.n-card {
  width: 280px;
  height: 320px;
  border: solid 2px #fff;
  position: relative;
}

.n-card a {
  text-decoration: none;
  position: relative;
}

.n-card a:visited {
  color: fff;
  text-decoration: none;
}

.n-card img {
  opacity: 0.95;
  width: 100%;
  height: 100%;
}

.n-card .news-title {
  position: absolute;
  bottom: 6px;
  padding-left: 2px;
}

.n-card .news-title h4 {
  color: #fff;
  text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
    0 -2px black;
}

#news-page .swiper-pagination {
  margin-bottom: 760px;
  padding: 10px;
  position: absolute;
}

#news-page .swiper-pagination-bullet {
  border: solid 1px #7cb9e8;
  background-color: #fff;
  width: 200px;
  border-radius: 0px;
  opacity: 1;
}

#news-page .swiper-pagination-bullet-active {
  width: 200px;
  border-radius: 0px;
  background-color: #17569a !important;
}

/* News page Article format */
#article-s {
  background-color: #17569a;
  padding: 100px;
}
.article-wrapper {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  margin: auto;
  height: 100%;
  width: 1000px;
  border: solid 2px #fff;
  border-radius: 12px;
  color: #fff;
  background-color: #0047ab;
}

.article-wrapper .article-content {
  text-align: left;
  padding: 32px;
}

.article-content {
  font-size: 1.2em;
}
/* About page */
#about-page {
  padding-top: 100px;
}
.contact-us {
  display: grid;
  align-items: center;
  text-align: center;
  background-color: #17569a;
  color: #fff;
  height: relative;
  width: 500px;
  margin: auto;
  border-radius: 16px;
  padding: 10px;
}

hr {
  margin: auto;
  border: 0.5px solid rgb(255, 255, 255, 0.2);
  width: 95%;
}

.contact-us .contact-content {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 5px;
}

.contact-us .contact-content a {
  color: #7cb9e8;
}

.contact-us .contact-content .contact-items p {
  padding: 8px;
  line-height: 1.5;
}

.vm-container {
  display: grid;
  grid-template-columns: auto auto;
  text-align: left;
  justify-content: center;
  margin: auto;
  width: 70%;
  column-gap: 10px;
  font-size: 1.2em;
}

.vm-container #vm,
.vm-container #vm-g {
  margin: 20px;
  border-top: 2px solid #17569a;
  line-height: 2;
}

.vm-container #vm-g ul {
  margin: 20px;
  line-height: 2;
  text-align: left;
}

.core-values {
  text-align: center;
  background-color: #17569a;
  color: #fff;
  height: auto;
  width: 70%;
  margin: auto;
  border-radius: 10px;
  padding: 24px;
}

.core-values #cv-items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  gap: 50px;
  margin: auto;
  width: 80%;
  font-size: 1em;
}

#cv-items #cv-card {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #002d62;
}

.ec-container {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: left;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
  column-gap: 20px;
  font-size: 1em;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  background-color: #002d62;
}

.hymn {
  display: grid;
  grid-column: auto;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: auto;
}

.hymn h1 {
  margin: 20px;
  border-top: 2px solid #17569a;
  line-height: 2;
}

.history {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
  width: 1200px;
  padding: 50px;
  line-height: 1.5;
}

/* Footer */

.footer {
  height: 320px;
  width: 100%;
  margin-top: auto;
  background-color: #1434a4;
}
.footer-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 15px;
}
.footer-title img {
  height: 50px;
  width: auto;
  padding-right: 5px;
  margin-top: 20px;
}
.footer-title h2 {
  color: #fff;
  padding-top: 10px;
}
.horizontal-line {
  border-bottom: 3px solid #fff;
  width: auto;
  margin: 0px 300px 0px 300px;
  /* position: absolute;
      left: 30%; */
}
.f-contact-us {
  color: #fff;
  font-size: 18px;
  padding-top: 20px;
  text-align: center;
  font-weight: lighter;
  font-weight: bold;
}
.f-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #fff;
  font-family: Arial;
}
.f-container > div > p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}
.f-container .contact-links p a {
  text-decoration: none;
  color: #fff;
}
.f-container .contact-links p a:visited {
  text-decoration: none;
  color: #fff;
}
.f-container .contact-links p a:hover {
  text-decoration: underline;
  color: #fff;
}
.f-container div img {
  width: 20px;
  height: 20px;
  padding-right: 3px;
}
.contact-links p a img {
  padding-right: 7px;
}
.copyright-section {
  height: 50px;
  width: 100%;
  color: #fff;
}
.copyright-section h3 {
  text-align: center;
  color: white;
  background-color: #1434a4;
  font-size: 15px;
  padding-top: 25px 0px 25px 0px;
}

@media (min-width: 1367px) and (max-width: 1600px) {
  
  #home-extra {
    display: none;
  }

  .h-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 8px;
  }

  .h-container .h-title h1 {
    font-size: 1.5em;
  }

  .h-card-wrap p {
    font-size: 1em;
  }

  .hs-card-wrap {
    display: grid;
    grid-template-columns: auto auto;
  }

  .hs-card-wrap p {
    font-size: 0.8em;
  }

  .h-card-wrap .cards li {
    font-size: 0.8em;
  }

  .hsc-container .hsc-title h1 {
    font-size: 2em;
  }

  .h-card-wrap h1 {
    display: grid;
    grid-template-columns: auto auto;
  }

  .h-card-wrap .nkpd,
  .h-card-wrap .stitle-color {
    font-size: 1em;
  }

  .h-card-college {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 24px;
  }

  .c-cards li {
    font-size: 0.7em;
  }

  .c-cards h3 {
    display: none;
  }

  #location h1 {
    font-size: 2em;
  }

  #map iframe {
    width: 100%;
    height: 100%;
  }

  #welcome h1 {
    font-size: 4em;
  }

  #welcome h2 {
    font-size: 2em;
  }

  #identity .card-ic {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    font-size: 1em;
    color: #fff;
    gap: 5px;
  }

  .card-ic .cardz {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-color: #17569a;
  }

  .card-ic .cardz h1,
  .card-ic .cardz p {
    font-size: 0.8em;
  }

  .card-ic .cardz img {
    width: 64px;
    height: 72px;
  }

  #identity .why-choose h1 {
    font-size: 2.5em;
    padding: 0px;
    margin: 0px;
  }

  #news h1 {
    font-size: 2em;
  }

  .news-events {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .i-items h2 {
    font-size: 1em;
  }

  .i-items .btn2 p {
    font-size: 0.8em;
  }

  .news-events img {
    width: 340px;
    height: 360px;
  }

  .news-events .i-news img {
    width: 180px;
    height: 300px;
  }

  .contact-us,
  .contact-content,
  .vm-container,
  .core-values,
  .ec-container,
  .hymn,
  .hymn iframe {
    display: grid;
    grid-template-columns: auto;
    width: 80vw;
    font-size: 1em;
  }

  .core-values #cv-items {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: auto;
    font-size: 1em;
  }
  .history {
    font-size: 0.5em;
    width: 100vw;
  }

  .facilities {
    height: 100%;
    position: relative;
    color: #1434a4;
  }

  .facilities h1 {
    font-size: 1em;
  }

  .facilities-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 124px 8px 24px 8px;
    gap: 16px;
  }

  .facilities-wrapper h1 {
    font-size: 2em;
  }

  .facilities-content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: auto;
    text-align: center;
    gap: 32px;
  }

  .facilities-content img {
    height: 160px;
    width: 240px;
    border-radius: 25%;
  }

  .events-extra {
    height: 100vh;
    position: relative;
  }

  .student-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    overflow: hidden;
  }

  .item img {
    max-width: 25%;
    max-height: 25%;
  }

  .item h2 {
    font-size: 1em;
  }

  .item p {
    font-size: 0.8em;
  }

  .news-cc2 img {
    width: 100%;
    height: 220px;
    border: solid 2px #002d62;
  }

  .news-cc1 {
    width: 50vw;
    height: 60vh;
  }

  .single {
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 740px;
  }

  .double {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 420px;
  }
  #related-post {
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
  }

  #related-post h1 {
    font-size: 1.5em;
  }

  .news-card-wrap {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 12px;
  }

  .n-card {
    width: 320px;
    height: 220px;
    font-size: 0.5em;
  }

  #news-page .swiper-pagination {
    margin-bottom: 64px;
  }

  #news-page .swiper-pagination-bullet {
    width: 32px;
    position: initial;
  }
}

@media (min-width: 1201px) and (max-width: 1366px) {
  #home-extra {
    display: none;
  }

  .h-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 8px;
  }

  .h-container .h-title h1 {
    font-size: 1.5em;
  }

  .h-card-wrap p {
    font-size: 1em;
  }

  .hs-card-wrap {
    display: grid;
    grid-template-columns: auto auto;
  }

  .hs-card-wrap p {
    font-size: 0.8em;
  }

  .h-card-wrap .cards li {
    font-size: 0.8em;
  }

  .hsc-container .hsc-title h1 {
    font-size: 2em;
  }

  .h-card-wrap h1 {
    display: grid;
    grid-template-columns: auto auto;
  }

  .h-card-wrap .nkpd,
  .h-card-wrap .stitle-color {
    font-size: 1em;
  }

  .h-card-college {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 24px;
  }

  .c-cards li {
    font-size: 0.7em;
  }

  .c-cards h3 {
    display: none;
  }

  #location h1 {
    font-size: 2em;
  }

  #map iframe {
    width: 100%;
    height: 100%;
  }

  #welcome h1 {
    font-size: 4em;
  }

  #welcome h2 {
    font-size: 2em;
  }

  #identity .card-ic {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    font-size: 1em;
    color: #fff;
    gap: 5px;
  }

  .card-ic .cardz {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-color: #17569a;
  }

  .card-ic .cardz h1,
  .card-ic .cardz p {
    font-size: 0.8em;
  }

  .card-ic .cardz img {
    width: 64px;
    height: 72px;
  }

  #identity .why-choose h1 {
    font-size: 2.5em;
    padding: 0px;
    margin: 0px;
  }

  #news h1 {
    font-size: 2em;
  }

  .news-events {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .i-items h2 {
    font-size: 1em;
  }

  .i-items .btn2 p {
    font-size: 0.8em;
  }

  .news-events img {
    width: 340px;
    height: 360px;
  }

  .news-events .i-news img {
    width: 180px;
    height: 300px;
  }

  .contact-us,
  .contact-content,
  .vm-container,
  .core-values,
  .ec-container,
  .hymn,
  .hymn iframe {
    display: grid;
    grid-template-columns: auto;
    width: 80vw;
    font-size: 1em;
  }

  .core-values #cv-items {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: auto;
    font-size: 1em;
  }
  .history {
    font-size: 0.5em;
    width: 100vw;
  }

  .facilities {
    height: 100%;
    position: relative;
    color: #1434a4;
  }

  .facilities h1 {
    font-size: 1em;
  }

  .facilities-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 124px 8px 24px 8px;
    gap: 16px;
  }

  .facilities-wrapper h1 {
    font-size: 2em;
  }

  .facilities-content {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    text-align: center;
    gap: 32px;
  }

  .facilities-content img {
    height: 160px;
    width: 240px;
    border-radius: 25%;
  }

  .events-extra {
    height: 100vh;
    position: relative;
  }

  .student-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    overflow: hidden;
  }

  .item img {
    max-width: 25%;
    max-height: 25%;
  }

  .item h2 {
    font-size: 1em;
  }

  .item p {
    font-size: 0.8em;
  }

  .news-cc2 img {
    width: 36vw;
    height: 240px;
    object-fit: fill;
    border: solid 2px #002d62;
  }

  .news-card {
    margin-top: 24px;
  }

  .news-cc1 {
    width: 50vw;
    height: 70vh;
  }

  .single {
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 600px;
  }

  .double {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 440px;
  }
  #related-post {
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
  }

  #related-post h1 {
    font-size: 1.5em;
  }

  .news-card-wrap {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 12px;
  }

  .n-card {
    width: 240px;
    height: 180px;
    font-size: 0.5em;
  }

  #news-page .swiper-pagination {
    margin-bottom: 64px;
  }

  #news-page .swiper-pagination-bullet {
    width: 32px;
    position: initial;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  header {
    padding: 10px 20px;
    background-color: #0047ab;
    z-index: 20;
  }
  header nav {
    position: absolute;
    width: 100%;
    top: 66px;
    left: 0px;
    background-color: #0047ab;
    display: none;
  }

  header.active nav {
    display: initial;
  }
  header nav ul li {
    margin: auto;
    width: 100%;
  }
  header nav ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }
  header nav ul li ul li {
    top: 0;
    left: 0;
  }
  header nav ul li:hover ul li {
    background-color: #0047ab;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuToggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(-12px);
    box-shadow: 0 12px #fff;
  }
  .menuToggle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(12px);
  }
  header.active .menuToggle::before {
    transform: rotate(45deg);
    box-shadow: 0 0 #fff;
  }

  header.active .menuToggle::after {
    transform: rotate(315deg);
  }

  #home-extra {
    display: none;
  }

  .h-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 8px;
  }

  .h-container .h-title h1 {
    font-size: 1.5em;
  }

  .h-card-wrap p {
    font-size: 1em;
  }

  .hs-card-wrap {
    display: grid;
    grid-template-columns: auto auto;
  }

  .hs-card-wrap p {
    font-size: 0.8em;
  }

  .h-card-wrap .cards li {
    font-size: 0.8em;
  }

  .hsc-container .hsc-title h1 {
    font-size: 2em;
  }

  .h-card-wrap h1 {
    display: grid;
    grid-template-columns: auto auto;
  }

  .h-card-wrap .nkpd,
  .h-card-wrap .stitle-color {
    font-size: 1em;
  }

  .h-card-college {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 24px;
  }

  .c-cards li {
    font-size: 0.7em;
  }

  .c-cards h3 {
    display: none;
  }

  #location h1 {
    font-size: 2em;
  }

  #map iframe {
    width: 100%;
    height: 100%;
  }

  #welcome h1 {
    font-size: 4em;
  }

  #welcome h2 {
    font-size: 2em;
  }

  #identity .card-ic {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    font-size: 1em;
    color: #fff;
    gap: 5px;
  }

  .card-ic .cardz {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-color: #17569a;
  }

  .card-ic .cardz h1,
  .card-ic .cardz p {
    font-size: 0.8em;
  }

  .card-ic .cardz img {
    width: 64px;
    height: 72px;
  }

  #identity .why-choose h1 {
    font-size: 2.5em;
    padding: 0px;
    margin: 0px;
  }

  #news h1 {
    font-size: 2em;
  }

  .news-events {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .i-items h2 {
    font-size: 1em;
  }

  .i-items .btn2 p {
    font-size: 0.8em;
  }

  .news-events img {
    width: 340px;
    height: 360px;
  }

  .news-events .i-news img {
    width: 180px;
    height: 300px;
  }

  .contact-us,
  .contact-content,
  .vm-container,
  .core-values,
  .ec-container,
  .hymn,
  .hymn iframe {
    display: grid;
    grid-template-columns: auto;
    width: 80vw;
    font-size: 1em;
  }

  .core-values #cv-items {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: auto;
    font-size: 1em;
  }
  .history {
    font-size: 0.5em;
    width: 100vw;
  }

  .facilities {
    height: 100%;
    position: relative;
    color: #1434a4;
  }

  .facilities h1 {
    font-size: 1em;
  }

  .facilities-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 124px 8px 24px 8px;
    gap: 16px;
  }

  .facilities-wrapper h1 {
    font-size: 2em;
  }

  .facilities-content {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    text-align: center;
    gap: 32px;
  }

  .facilities-content img {
    height: 160px;
    width: 240px;
    border-radius: 25%;
  }

  .events-extra {
    height: 100vh;
    position: relative;
  }

  .student-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    overflow: hidden;
  }

  .item img {
    max-width: 25%;
    max-height: 25%;
  }

  .item h2 {
    font-size: 1em;
  }

  .item p {
    font-size: 0.8em;
  }

  .news-cc2 img {
    width: 36vw;
    height: 180px;
    border: solid 2px #002d62;
  }

  .news-card {
    margin-top: 24px;
  }

  .news-cc1 {
    width: 50vw;
    height: 50vh;
  }

  .single {
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 360px;
  }

  .double {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 240px;
  }
  #related-post {
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
  }

  #related-post h1 {
    font-size: 1.5em;
  }

  .news-card-wrap {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 12px;
  }

  .n-card {
    width: 120px;
    height: 140px;
    font-size: 0.5em;
  }

  #news-page .swiper-pagination {
    margin-bottom: 64px;
  }

  #news-page .swiper-pagination-bullet {
    width: 32px;
    position: initial;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  header {
    padding: 10px 20px;
    background-color: #0047ab;
    z-index: 20;
  }
  header nav {
    position: absolute;
    width: 100%;
    top: 66px;
    left: 0px;
    background-color: #0047ab;
    display: none;
  }

  header.active nav {
    display: initial;
  }
  header nav ul li {
    margin: auto;
    width: 100%;
  }
  header nav ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }
  header nav ul li ul li {
    top: 0;
    left: 0;
  }
  header nav ul li:hover ul li {
    background-color: #0047ab;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuToggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(-12px);
    box-shadow: 0 12px #fff;
  }
  .menuToggle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(12px);
  }
  header.active .menuToggle::before {
    transform: rotate(45deg);
    box-shadow: 0 0 #fff;
  }

  header.active .menuToggle::after {
    transform: rotate(315deg);
  }

  #home-extra {
    display: none;
  }

  .h-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 8px;
  }

  .h-container .h-title h1 {
    font-size: 1.5em;
  }

  .h-card-wrap p {
    font-size: 1em;
  }

  .hs-card-wrap {
    display: grid;
    grid-template-columns: auto auto;
  }

  .hs-card-wrap p {
    font-size: 0.8em;
  }

  .h-card-wrap .cards li {
    font-size: 0.8em;
  }

  .hsc-container .hsc-title h1 {
    font-size: 2em;
  }

  .h-card-wrap h1 {
    display: grid;
    grid-template-columns: auto auto;
  }

  .h-card-wrap .nkpd,
  .h-card-wrap .stitle-color {
    font-size: 1em;
  }

  .h-card-college {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 24px;
  }

  .c-cards li {
    font-size: 0.7em;
  }

  .c-cards h3 {
    display: none;
  }

  #location h1 {
    font-size: 2em;
  }

  #map iframe {
    width: 100%;
    height: 100%;
  }

  #welcome h1 {
    font-size: 4em;
  }

  #welcome h2 {
    font-size: 2em;
  }

  #identity .card-ic {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    font-size: 1em;
    color: #fff;
    gap: 5px;
  }

  .card-ic .cardz {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-color: #17569a;
  }

  .card-ic .cardz h1,
  .card-ic .cardz p {
    font-size: 0.8em;
  }

  .card-ic .cardz img {
    width: 64px;
    height: 72px;
  }

  #identity .why-choose h1 {
    font-size: 2.5em;
    padding: 0px;
    margin: 0px;
  }

  #news h1 {
    font-size: 2em;
  }

  .news-events {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .i-items h2 {
    font-size: 1em;
  }

  .i-items .btn2 p {
    font-size: 0.8em;
  }

  .news-events img {
    width: 340px;
    height: 360px;
  }

  .news-events .i-news img {
    width: 180px;
    height: 300px;
  }

  .contact-us,
  .contact-content,
  .vm-container,
  .core-values,
  .ec-container,
  .hymn,
  .hymn iframe {
    display: grid;
    grid-template-columns: auto;
    width: 80vw;
    font-size: 1em;
  }

  .core-values #cv-items {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: auto;
    font-size: 1em;
  }
  .history {
    font-size: 0.5em;
    width: 100vw;
  }

  .facilities {
    height: 100%;
    position: relative;
    color: #1434a4;
  }

  .facilities h1 {
    font-size: 1em;
  }

  .facilities-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 124px 8px 24px 8px;
    gap: 16px;
  }

  .facilities-wrapper h1 {
    font-size: 2em;
  }

  .facilities-content {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    text-align: center;
    gap: 32px;
  }

  .facilities-content img {
    height: 160px;
    width: 240px;
    border-radius: 25%;
  }

  .events-extra {
    height: 100vh;
    position: relative;
  }

  .student-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    overflow: hidden;
  }

  .item img {
    max-width: 25%;
    max-height: 25%;
  }

  .item h2 {
    font-size: 1em;
  }

  .item p {
    font-size: 0.8em;
  }

  .news-cc2 img {
    width: 36vw;
    height: 180px;
    border: solid 2px #002d62;
  }

  .news-card {
    margin-top: 24px;
  }

  .news-cc1 {
    width: 50vw;
    height: 50vh;
  }

  .single {
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 360px;
  }

  .double {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 240px;
  }
  #related-post {
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
  }

  #related-post h1 {
    font-size: 1.5em;
  }

  .news-card-wrap {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 12px;
  }

  .n-card {
    width: 120px;
    height: 140px;
    font-size: 0.5em;
  }

  #news-page .swiper-pagination {
    margin-bottom: 64px;
  }

  #news-page .swiper-pagination-bullet {
    width: 32px;
    position: initial;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  header {
    padding: 10px 20px;
    background-color: #0047ab;
    z-index: 20;
  }
  header nav {
    position: absolute;
    width: 100%;
    top: 66px;
    left: 0px;
    background-color: #0047ab;
    display: none;
  }

  header.active nav {
    display: initial;
  }
  header nav ul li {
    margin: auto;
    width: 100%;
  }
  header nav ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }
  header nav ul li ul li {
    top: 0;
    left: 0;
  }
  header nav ul li:hover ul li {
    background-color: #0047ab;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuToggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(-12px);
    box-shadow: 0 12px #fff;
  }
  .menuToggle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(12px);
  }
  header.active .menuToggle::before {
    transform: rotate(45deg);
    box-shadow: 0 0 #fff;
  }

  header.active .menuToggle::after {
    transform: rotate(315deg);
  }

  #home-extra {
    display: none;
  }

  .h-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 8px;
  }

  .h-container .h-title h1 {
    font-size: 1.5em;
  }

  .h-card-wrap p {
    display: none;
  }

  .hs-card-wrap {
    display: grid;
    grid-template-columns: auto auto;
  }

  .hs-card-wrap p {
    display: none;
  }

  .h-card-wrap .cards li {
    font-size: 0.5em;
  }

  .hsc-container .hsc-title h1 {
    font-size: 1.5em;
  }

  .h-card-wrap h1 {
    display: grid;
    grid-template-columns: auto auto;
  }

  .h-card-wrap .nkpd,
  .h-card-wrap .stitle-color {
    display: none;
  }

  .h-card-college {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 8px;
  }
  .c-cards li {
    font-size: 0.5em;
    width: 80px;
    line-height: 10px;
  }

  .c-cards h3 {
    display: none;
  }

  #location h1 {
    font-size: 2em;
  }

  #map iframe {
    width: 100%;
    height: 100%;
  }

  #welcome h1 {
    font-size: 4em;
  }

  #welcome h2 {
    font-size: 2em;
  }

  #identity .card-ic {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    font-size: 1em;
    color: #fff;
    gap: 5px;
  }

  .card-ic .cardz {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-color: #17569a;
  }

  .card-ic .cardz h1,
  .card-ic .cardz p {
    font-size: 0.5em;
  }

  .card-ic .cardz img {
    width: 24px;
    height: 16px;
  }

  #identity .why-choose h1 {
    font-size: 2.5em;
    padding: 0px;
    margin: 0px;
  }

  #news h1 {
    font-size: 1.5em;
  }

  .news-events {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .i-items h2 {
    font-size: 0.8em;
  }

  .i-items .btn2 p {
    font-size: 0.4em;
  }

  .news-events img {
    width: 124px;
    height: 92px;
  }

  .news-events .i-news img {
    width: 64px;
    height: 42px;
  }

  .contact-us,
  .contact-content,
  .vm-container,
  .core-values,
  .ec-container,
  .hymn,
  .hymn iframe {
    display: grid;
    grid-template-columns: auto;
    width: 80vw;
    font-size: 0.8em;
  }

  .core-values #cv-items {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: auto;
    font-size: 1em;
  }
  .history {
    font-size: 0.5em;
    width: 100vw;
  }

  .facilities {
    height: 100%;
    position: relative;
    color: #1434a4;
  }

  .facilities h1 {
    font-size: 1em;
  }

  .facilities-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 124px 8px 24px 8px;
    gap: 16px;
  }

  .facilities-wrapper h1 {
    font-size: 2em;
  }

  .facilities-content {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    text-align: center;
    gap: 32px;
  }

  .facilities-content img {
    height: 120px;
    width: 180px;
    border-radius: 25%;
  }

  .events-extra {
    height: 100vh;
    position: relative;
  }

  .student-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    overflow: hidden;
  }

  .item img {
    max-width: 25%;
    max-height: 25%;
  }

  .item h2 {
    font-size: 1em;
  }

  .item p {
    font-size: 0.8em;
  }

  .news-card {
    margin-top: 24px;
  }

  .news-cc2 img {
    width: 36vw;
    height: 160px;
    object-fit: fill;
    border: solid 2px #002d62;
  }

  .news-card {
    margin-top: 24px;
  }

  .news-cc1 {
    width: 50vw;
    height: 50vh;
  }

 .fb-page{
    width: 100vw;
  }

  .single {
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 220px;
  }

  .double {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
  }

  #related-post {
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    text-align: center;
  }

  #related-post h1 {
    font-size: 1em;
  }

  .news-card-wrap {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 12px;
  }

  .n-card {
    width: 120px;
    height: 120px;
    font-size: 0.5em;
  }

  #news-page .swiper-pagination {
    margin-bottom: 64px;
  }

  #news-page .swiper-pagination-bullet {
    width: 32px;
    position: initial;
  }

  .footer {
    height: 320px;
    width: 100%;
    margin-top: auto;
    background-color: #1434a4;
  }
  .footer-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 8px;
  }
  .footer-title img {
    height: 50px;
    width: auto;
    padding-right: 5px;
    margin: auto;
  }
  .footer-title h2 {
    color: #fff;
    font-size: 24px;
    padding-top: 10px;
  }
  .horizontal-line {
    border-bottom: 3px solid #fff;
    width: auto;
    margin: 0px 300px 0px 300px;
    position: absolute;
    left: 30%;
  }
  .f-contact-us {
    color: #fff;
    font-size: 16px;
    padding-top: 8px;
    text-align: center;
    font-weight: lighter;
    font-weight: bold;
  }
  .f-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    color: #fff;
    font-family: Arial;
  }
  .f-container > div > p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
  }
  .f-container .contact-links p a {
    text-decoration: none;
    color: #fff;
  }
  .f-container .contact-links p a:visited {
    text-decoration: none;
    color: #fff;
  }
  .f-container .contact-links p a:hover {
    text-decoration: underline;
    color: #fff;
  }
  .f-container div img {
    width: 24px;
    height: 24px;
    padding-right: 3px;
  }
  .contact-links p a img {
    padding-right: 7px;
  }
  .copyright-section {
    height: auto;
    width: 100%;
    color: #fff;
  }
  .copyright-section h3 {
    text-align: center;
    color: white;
    background-color: #1434a4;
    font-size: 16px;
    padding-top: 25px 0px 25px 0px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  header {
    padding: 10px 20px;
    background-color: #0047ab;
    z-index: 20;
  }
  header nav {
    position: absolute;
    width: 100%;
    top: 66px;
    left: 0px;
    background-color: #0047ab;
    display: none;
  }

  header.active nav {
    display: initial;
  }
  header nav ul li {
    margin: auto;
    width: 100%;
  }
  header nav ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }
  header nav ul li ul li {
    top: 0;
    left: 0;
  }
  header nav ul li:hover ul li {
    background-color: #0047ab;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuToggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(-12px);
    box-shadow: 0 12px #fff;
  }
  .menuToggle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(12px);
  }
  header.active .menuToggle::before {
    transform: rotate(45deg);
    box-shadow: 0 0 #fff;
  }

  header.active .menuToggle::after {
    transform: rotate(315deg);
  }

  #home-extra {
    display: none;
  }

  .h-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 8px;
  }

  .h-container .h-title h1 {
    font-size: 1.5em;
  }

  .h-card-wrap p {
    display: none;
  }

  .hs-card-wrap {
    display: grid;
    grid-template-columns: auto auto;
  }

  .hs-card-wrap p {
    display: none;
  }

  .h-card-wrap .cards li {
    font-size: 0.5em;
  }

  .hsc-container .hsc-title h1 {
    font-size: 1em;
  }

  .h-card-wrap h1 {
    display: grid;
    grid-template-columns: auto auto;
  }

  .h-card-wrap .nkpd,
  .h-card-wrap .stitle-color {
    display: none;
  }

  .h-card-college {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 8px;
  }
  .c-cards li {
    font-size: 0.5em;
    width: 80px;
    line-height: 10px;
  }

  .c-cards h3 {
    display: none;
  }

  #location h1 {
    font-size: 2em;
  }

  #map iframe {
    width: 100%;
    height: 100%;
  }

  #welcome h1 {
    font-size: 4em;
  }

  #welcome h2 {
    font-size: 2em;
  }

  #identity .card-ic {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    font-size: 1em;
    color: #fff;
    gap: 5px;
  }

  .card-ic .cardz {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-color: #17569a;
  }

  .card-ic .cardz h1,
  .card-ic .cardz p {
    font-size: 0.5em;
  }

  .card-ic .cardz img {
    width: 24px;
    height: 16px;
  }

  #identity .why-choose h1 {
    font-size: 2.5em;
    padding: 0px;
    margin: 0px;
  }

  #news h1 {
    font-size: 1.5em;
  }

  .news-events {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .i-items h2 {
    font-size: 0.8em;
  }

  .i-items .btn2 p {
    font-size: 0.4em;
  }

  .news-events img {
    width: 124px;
    height: 92px;
  }

  .news-events .i-news img {
    width: 64px;
    height: 42px;
  }

  .contact-us,
  .contact-content,
  .vm-container,
  .core-values,
  .ec-container,
  .hymn,
  .hymn iframe {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    font-size: 0.8em;
  }

  .core-values #cv-items {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: auto;
    font-size: 1em;
  }
  .history {
    font-size: 0.5em;
    width: 100vw;
  }

  .facilities {
    height: 100%;
    position: relative;
    color: #1434a4;
  }

  .facilities h1 {
    font-size: 1em;
  }

  .facilities-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 124px 8px 24px 8px;
    gap: 16px;
  }

  .facilities-wrapper h1 {
    font-size: 2em;
  }

  .facilities-content {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    text-align: center;
    gap: 32px;
  }

  .facilities-content img {
    height: 70px;
    width: 120px;
    border-radius: 25%;
  }

  .events-extra {
    height: 100vh;
    position: relative;
  }

  .student-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    overflow: hidden;
  }

  .item img {
    max-width: 25%;
    max-height: 25%;
  }

  .item h2 {
    font-size: 1em;
  }

  .item p {
    font-size: 0.8em;
  }

  .news-card {
    margin-top: 24px;
  }

  .news-cc2 img {
    width: 36vw;
    height: 160px;
    object-fit: fill;
    border: solid 2px #002d62;
  }

  .news-card {
    margin-top: 24px;
  }

  .news-cc1 {
    width: 50vw;
    height: 40vh;
  }

  .news-cc1 img{
    object-fit: fill;
  }

  .fb-content {
    display: grid;
    grid-template-columns: auto;
  }

  .fb-page {
    width: 100vw;
  }

  .single {
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
  }

  .double {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
  }

  #related-post {
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    text-align: center;
  }

  #related-post h1 {
    font-size: 1.5em;
    padding-top: 8px;
  }

  .news-card-wrap {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 12px;
  }

  .n-card {
    width: 120px;
    height: 120px;
    font-size: 0.5em;
  }

  #news-page .swiper-pagination {
    margin-bottom: 64px;
  }

  #news-page .swiper-pagination-bullet {
    width: 32px;
    position: initial;
  }

  .footer {
    height: 100%;
    width: 100%;
    margin-top: auto;
    background-color: #1434a4;
  }
  .footer-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .footer-title img {
    height: 50px;
    width: auto;
    padding-right: 5px;
    margin: auto;
  }
  .footer-title h2 {
    color: #fff;
    font-size: 24px;
    font-family: OLD;
    padding-top: 8px;
  }
  .horizontal-line {
   display: none;
  }
  .f-contact-us {
    color: #fff;
    font-size: 14px;
    padding-top: 4px;
    text-align: center;
    font-weight: lighter;
    font-weight: bold;
  }
  .f-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    color: #fff;
    font-family: Arial;
  }
  .f-container > div > p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
  }
  .f-container .contact-links p a {
    text-decoration: none;
    color: #fff;
  }
  .f-container .contact-links p a:visited {
    text-decoration: none;
    color: #fff;
  }
  .f-container .contact-links p a:hover {
    text-decoration: underline;
    color: #fff;
  }
  .f-container div img {
    width: 24px;
    height: 24px;
    padding-right: 3px;
  }
  .contact-links p a img {
    padding-right: 7px;
  }
  .copyright-section {
    height: auto;
    width: 100%;
    color: #fff;
    padding-top: 4px;
  }
  .copyright-section h3 {
    text-align: center;
    color: white;
    background-color: #1434a4;
    font-size: 12px;
    padding-top: 25px 0px 25px 0px;
  }
}
