* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: Old;
  src: url(./OLD.woff);
}

a{
  color: #fff;
  text-decoration: none;
}

body{
  background-color: #1034A6;
  color: #fff;
}

/* header nav */
header{
  position: fixed;
  width: 100%;
  min-height: 66px;
  background-color: #003399;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #fff;
  z-index: 20;
}

header nav{
  padding-right: 12px;
}

header .logo{
  display: flex;
  align-items: center;
}

header .logo img{
  height: 60px;
  padding: 5px 12px 0px 12px;
}

header a h2{
  font-family: old;
}
header ul{
position: relative;
}
header ul li{
  position: inherit;
  list-style: none;
  float: left;
}
header ul li a{
  color: #fff;
  font-size: 1.1em;
  padding: 20px 25px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
header ul li a:hover{
  background-color: #002387;
   color:  	#E1EBEE;
}
header ul li ul{
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #1434A4;    
  display: none;
}
header ul li:hover ul{
  display: block;
}
header ul li ul li{
  position: relative;
  width: 100%;
  border: 1px solid rgb(0, 0, 0, 0);
}

.intro-placeholder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),
  url("../res/images/bg.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

.intro-placeholder{
  padding-top: 120px;
}

/* home page */
/* home-page - welcome-section */
.welcome-wrapper{
  height: 95vh;
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  align-items: center;
  padding: 96px;
  background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),
  url("../res/images/bg.jpg");
}

.welcome-text{
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.welcome-text div h1{
  font-family: old;
  font-size: 3em;
}

#w-text-container{
  margin-top: 24px;
}

.welcome-video video{
  width: 80%;
  height: auto;
  border: 2px solid #0066b2;
  border-radius: 4px;
}

.button-intro-container{
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: auto;
  justify-content: center;
  transition: transform .2s;
}

.button-intro-container .btn{
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  background-color: #FFD700;
  padding: 13px 35px;
  width: auto;
  height: auto;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-top: 24px;
}

.button-intro-container .btn a{
  color: #003399;
}

.button-intro-container .btn:hover{
  cursor: pointer;
  transform: scale(1.02);
}

.buttons-container{
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: auto;
  justify-content: center;
  transition: transform .2s;
}

.buttons-container .btn{
  text-align: center;
  font-size: 2em;
  color: #fff;
  background-color: #0F52BA;
  padding: 13px 35px;
  width: auto;
  height: auto;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-top: 24px;
}

.buttons-container .btn:hover{
  cursor: pointer;
  transform: scale(1.02);
}


/* school info wrapper */
.school-info-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 96px;
  height: auto;
  background-color: #002387;
  color: #fff;

}

.school-info-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  align-content: center;
  text-align: center;
  gap: 48px;
}

.school-info-intro{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2em;
  margin: 24px;
}

.school-card-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  gap: 24px;
}

.school-card{
  background-color: #0F52BA;
  border: 2px solid #fff;
  border-radius: 8px;
  width: 240px;
  height: 120px;
  padding: 12px;
  margin: 8px;
  text-align: center;
  font-size: 1.5em;
  align-content: center;
}

/* admission page */

.button-ad-container{
  display: flex;
  flex-direction: row;
  margin: 24px;
  justify-content: center;
  transition: transform .2s;
}

.button-ad-container .btn{
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  background-color: #FFD700;
  padding: 13px 18px;
  width: auto;
  height: auto;
  border: 1px solid #fff;
  border-radius: 4px;
}

.button-ad-container .btn a{
  color: #003399;
}

.button-ad-container .btn:hover{
  cursor: pointer;
  transform: scale(1.02);
}


.contacts-container{
  display: grid;
  grid-template-columns: auto auto;
  background-color: #1434a4;
  margin: 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 24px;
  width: fit-content;
  gap: 24px;
  
}
.contacts-card{
line-height: 2;
}

.contacts-card a{
  text-decoration: underline;
}

.tabAD{
  float: left;
  background-color: #0F52BA;
  width: 30%;
  height: 300px;
  border-top: 1px solid #ccc;
}
.tablinkAD {
  display: block;
  background-color: inherit;
  color: #fff;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.tablinkAD:hover {
  background-color: #1034A6;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontentAD {
  float: left;
  padding: 0px 12px;
  border-top: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 421px;
}

.acadcontent-wrapper{
  display: flex;
  flex-direction: row;
 justify-content: center;
 gap: 24px;
 padding: 24px;
 margin: auto;
 width: 80%;
}




/* academics page */
.program-wrapper {
  display: grid;
  grid-template-columns: auto;
  
}

.program-wrapper #program-page-title {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  margin: auto;
  margin-top: 12px;
  border-top: 2px solid #fff;
  line-height: 2;
  width: 80vw;
}

.program-wrapper #program-page{
  display: flex;
  justify-content: flex-start;
  color: #fff;
  margin: auto;
  margin-top: 12px;
  line-height: 2;
  width: 80vw;
}

.program-cards-container {
  display: grid;
  margin: auto;
  grid-template-columns: auto auto auto;
  column-gap: 32px;
  text-align: center;
}

.program-content-container {
  line-height: 24px;
  padding: 24px;
  margin: 24px;
}

.program-content-cards {
  background-color: #0F52BA;
  transition: transform .2s;
  border: 2px solid #7CB9E8;
  border-radius: 8px;
  padding: 32px;
  margin: 12px;
}

.program-content-cards:hover {
  transform: scale(1.02);
}

.tab {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  overflow: hidden;
  margin: auto;
  width: auto;
}

.tab-links button {
  margin: 24px;
  padding: 100px;
  border: 1px solid #1434a4;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #0F52BA;
  border: 2px solid #AFDBF5;
  color: #fff;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin: 5px;
  transition: 0.3s;
}

#tab-nested-list{
    margin-left: 12px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #13274F;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #1F305E;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 24px;
  border-top: none;
  margin: auto;
  width: auto;
  height: auto;
  animation: fadeEffect 1s;
  background-color: #0F52BA;
  border-radius: 4px;
  border: 2px solid #7CB9E8;

}

.college-card {
  text-align: center;
  height: 400px;
  width: 90%;
  overflow: hidden;
  border-radius: 8px;
  background-color: #0F52BA;
  transition: transform .2s;
  margin: auto;
  border: 2px solid #7CB9E8;
}

.college-card:hover {
  transform: scale(1.02);
}

.college-card img {
  width: 100%;
  height: 80%;
  background-size: cover;
  background-position: center;
}

.college-card-body {
  color: aliceblue;
  padding: 8px;
}

.college-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  grid-gap: 0.5rem;
  padding: 0 8vw 0 8vw;
  margin-bottom: 12px;
}

.college-content-cards ul {
  list-style: none;
}

/* Colleges, and Courses */
.breadcrumbs-wrapper{
  display: flex;
  justify-content: start;
  margin: 32px;
  padding-left: 24px;
}

.breadcrumbs-wrapper h3{
  width: auto;
  background-color: #0066b2;
}


.courses-title{
display: grid;
grid-template-columns: auto;
margin: auto;
text-align: left;
height: auto;
justify-content: left;
width: 70%;
column-gap: 10px;
}

.courses-title .course-offered{
display: flex;
column-gap: 24px;
}
.course-container #program-objectives{
width: fit-content;
}

#course-wrapper{
  display: grid;
  grid-template-columns: auto;
  margin: auto;
  text-align: left;
  height: auto;
  justify-content: center;
  width: 70%;
  column-gap: 10px;
  border-top: 2px solid #fff;
}

#course-wrapper .course-container{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  width: auto;
  gap: 24px;
}

.career-card-wrapper{
  display: grid;
  grid-template-columns: auto auto;
  width: auto;
  gap: 24px;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* about page */
#about-page {
  background-color: #fff;
  padding-top: 100px;
}
.contact-us {
  display: grid;
  align-items: center;
  text-align: center;
  background-color: #17569a;
  color: #fff;
  height: relative;
  width: 500px;
  margin: auto;
  border-radius: 16px;
  padding: 10px;
}

hr {
  margin: auto;
  border: 0.5px solid rgb(255, 255, 255, 0.2);
  width: 95%;
}

.contact-us .contact-content {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 5px;
}

.contact-us .contact-content a {
  color: #7cb9e8;
  text-decoration: underline;
}

.contact-us .contact-content .contact-items p {
  padding: 8px;
  line-height: 1.5;
}

.vm-container {
  display: grid;
  grid-template-columns: auto auto;
  text-align: left;
  justify-content: center;
  margin: auto;
  width: 70%;
  column-gap: 10px;
  font-size: 1.2em;
}

.vm-container #vm,
.vm-container #vm-g {
  margin: 20px;
  border-top: 2px solid #17569a;
  line-height: 2;
  color: #000;
}

.vm-container #vm-g ul {
  margin: 20px;
  line-height: 2;
  text-align: left;
  color: #000;
}

.core-values {
  text-align: center;
  background-color: #17569a;
  color: #fff;
  height: auto;
  width: 70%;
  margin: auto;
  border-radius: 10px;
  padding: 24px;
}

.core-values #cv-items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  gap: 50px;
  margin: auto;
  width: 100%;
  font-size: 1em;
}

#cv-items #cv-card {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #002d62;
}

.ec-container {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: left;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
  column-gap: 20px;
  font-size: 1em;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  background-color: #002d62;
}

.hymn {
  display: grid;
  grid-column: auto;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: auto;
  color: #000;
}

.hymn h1 {
  margin: 20px;
  border-top: 2px solid #17569a;
  line-height: 2;
  color: #000;

}

.history {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
  width: 1200px;
  padding: 50px;
  line-height: 1.5;
  color: #000;
}

/* news page */
#news-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #1434a4;
}

.news-wrap {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
  text-align: left;
  align-content: center;

  position: relative;
}

.news-cc1 {
  height: 600px;
  padding: 5px;
}

.news-cc1 img {
  width: 100%;
  height: 90%;
  object-fit: fill;
  border: solid 2px #fff;
}

.news-cc2 img {
  width: 360px;
  height: 260px;
  object-fit: fill;
  border: solid 2px #fff;
}

.news-card a,
.news-card2 a {
  text-decoration: none;
  color: #fff;
}

.single {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 900px;
}

.double {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 340px;
}

#related-post {
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  gap: 16px;
  border-top: 2px solid #fff;
}

.rp-wrap {
  display: grid;
  grid-template-columns: auto;
  margin: 32px;
}

.rp-wrap hr {
  color: #fff;
  font-size: 2em;
  width: 80vw;
  margin: 12px 0px 24px 0px;
}

.rp-content-wrap {
  display: grid;
  grid-template-columns: auto auto;
  gap: 12px;
}

.fb-page {
  width: 500px;
}
#related-post hr {
  margin: 4px;
}
.news-card-wrap {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 16px;
}

.n-card {
  width: 280px;
  height: 320px;
  border: solid 2px #fff;
  position: relative;
}

.n-card a {
  text-decoration: none;
  position: relative;
}

.n-card a:visited {
  color: fff;
  text-decoration: none;
}

.n-card img {
  opacity: 0.95;
  width: 100%;
  height: 100%;
}

.n-card .news-title {
  position: absolute;
  bottom: 6px;
  padding-left: 2px;
}

.n-card .news-title h4 {
  color: #fff;
  text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
    0 -2px black;
}

/* tuition-fee */
.tabTF{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.tablinkTF {
  background-color: #0F52BA;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 100vw;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff ;
}

.tablinkTF:hover {
  background-color: #17569a;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontentTF {
  border-left: 1px solid #fff ;
  border-right: 1px solid #fff ;
  border-bottom: 1px solid #fff ;
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Kindergarten {background-color: #1034A6;}
#Gradeschool{background-color: #1034A6;}
#Elementary {background-color: #1034A6;}
#Juniorhighschool {background-color: #1034A6;}
#Seniorhighschool {background-color: #1034A6;}
#College {background-color: #1034A6;}
#GraduateStudies{background-color: #1034A6;}


.tuitiontable-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}


.tuitiontable-wrapper h3{
  border: 2px solid #1034A6;
  background-color: #002387;
  width: fit-content;
  border-radius: 4px;
  margin: auto;
  padding: 4px;
}



.tuitiontable-wrapper table, .tuitiontable-wrapper th, .tuitiontable-wrapper td{
  border:2px solid #002387;
  background-color: #0066b2;
  margin: 8px;
  width: 65vw;
  align-items: center;
}

.tuitiontable-wrapper td{
  padding: 2px;
}

.college-tuition-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  font-size: 1.5em;
  margin: auto;
  width: 80vw;
}

.college-tuition-wrapper h3, .college-tuition-wrapper h4{
  border-bottom: 2px solid #fff;
  margin: 8px;
}

.college-tuition-wrapper div ul li ul, .college-tuition-wrapper p{
 margin-left: 16px;
}


.college-tuition-wrapper .college-tuition-container{
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  align-self: center;
  padding: 24px;
  gap: 64px;
}

 /* facilities page*/
 .row-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(520px, 2fr));
  margin: auto;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.column-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 50%;
  padding: 24px;
  transition: transform .2s;
}

.column-images img {
  width: auto;
  height: auto;
  border-radius: 8px;
}

.column-images:hover{
  transform: scale(1.03);
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  display: grid;
  justify-content: center;
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin: -50px auto auto auto;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 


 /* student organization */
#stud-orgs{
  background-color: #fff;
}

.stud-orgs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
  align-items: center;
}

.stud-orgs-container a:hover{
  transition: transform .2s;
  transform: scale(1.03);
}

.so-item {
  background-color: #0F52BA;
  border: 1px solid #fff;
  padding: 5px;
  margin: 48px;
  padding: 32px;
  width: auto;
  height: 300px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 10px 15px 7px rgba(0,0,0,0.5);
  transition: transform .2s;
}

.so-item img {
  padding-top: 10px;
  max-width: 50%;
  border-radius: 50px;
  height: 50%;
}

.so-item a{
  color: #fff;
  text-decoration: none;
}


.so-item a:visited{
  color: #0F52BA;
}
.so-item h2 {
  font-size: 1.5em;
}

.so-item p{
  font-size: 1em;
  color: #fff;
}

/* footer */
.footer{
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  background-color: #003399;
  color: white;
  text-align: center;
  align-content: center;
  border-top: 2px solid #fff;
  padding: 24px;
}

.footer-wrapper{
  display: grid;
  grid-template-columns: auto;
  margin: auto;
  gap: 16px;
}

.footer-wrapper .footer-content{
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: center;
  gap: 24px;
  line-height: 1.5;
  text-decoration: none;
}

.footer-title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-title h2{
  font-family: old;
}

.footer-title img{
  width: 64px;
}

.footer-column a:hover{
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #fff,
  0 0 82px #fff,
  0 0 92px #fff,
  0 0 102px #fff;
}

.footer-wrapper .footer-logo img{
 width: 64px;
}

.footer-wrapper .footer-social-imgs{
  display: flex;
flex-direction: row;
justify-content: center;
gap: 36px;
}



.footer-wrapper .footer-social-imgs a img{
width: 24px;
transition: transform .2s;
}

.footer-wrapper .footer-social-imgs a img:hover{
  transform: scale(1.05);
}
@media (min-width: 1024px) and (max-width: 1301px) {
  header {
    padding: 10px 20px;
    background-color: #003399;
    z-index: 20;
  }
  header nav {
    position: absolute;
    width: 100%;
    top: 66px;
    left: 0px;
    background-color: #003399;
    display: none;
  }

  header a h2{
    font-size: 0.9em;
  }

  header.active nav {
    display: initial;
  }
  header nav ul li {
    margin: auto;
    width: 100%;
  }
  header nav ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }
  header nav ul li ul li {
    top: 0;
    left: 0;
  }
  header nav ul li:hover ul li {
    background-color: #003399;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuToggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(-12px);
    box-shadow: 0 12px #fff;
  }
  .menuToggle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(12px);
  }
  header.active .menuToggle::before {
    transform: rotate(45deg);
    box-shadow: 0 0 #fff;
  }

  header.active .menuToggle::after {
    transform: rotate(315deg);
  }

  .intro-placeholder h1{
    padding-top: 72px;
  }

  .welcome-wrapper{
    height: 50%;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin: auto;
    padding-top: 128px;
    align-items: center;
    gap: 16px;
    width: 100%;
  }

  .welcome-text div h1{
    font-size: 1.4em;
  }

  .welcome-video video{
    width: 80%;
  }

  .buttons-container .btn{
text-align: center;
font-size: 1em;
padding: 2px;
  }

  .school-info-wrapper{
    width: 100%;
    padding: 24px;
  }

  .school-info-intro div h1{
    font-size: 1em;
  }

  .school-info-container{
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    width: 80%;
  }

  .school-card{
    width: 120px;
    height: auto;
    font-size: 1em;
  }

  section.intro-placeholder{
    font-size: 1em;
  }
/* about us page */
  /* history */
  .contact-us,
  .contact-content,
  .vm-container,
  .core-values,
  .ec-container,
  .hymn,
  .hymn iframe {
    display: grid;
    grid-template-columns: auto;
    width: 60vw;
    font-size: 0.8em;
  }

  .core-values #cv-items {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: auto;
    font-size: 1em;
  }
  .history {
    font-size: 0.8em;
    text-align: justify;
    width: 65%;
  }

  /* admission page */

  .button-ad-container{
    display: flex;
    flex-direction: row;
    margin: 24px;
    justify-content: center;
    transition: transform .2s;
  }
  
  .button-ad-container .btn{
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    background-color: #FFD700;
    padding: 13px 18px;
    width: auto;
    height: auto;
    border: 1px solid #fff;
    border-radius: 4px;
  }
  
  .button-ad-container .btn a{
    color: #003399;
  }
  
  .button-ad-container .btn:hover{
    cursor: pointer;
    transform: scale(1.02);
  }
  
  
  .contacts-container{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #1434a4;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 24px;
    width: fit-content;
    gap: 24px;
    
  }
  .contacts-card{
  line-height: 2;
  }
  
  .contacts-card a{
    text-decoration: underline;
  }
  
  .tabAD{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .tablinkAD {
    background-color: #0F52BA;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 16px;
    width: 100%;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff ;
  }
  
  .tablinkAD:hover {
    background-color: #17569a;
  }
  
  
  .acadcontent-wrapper{
    display: flex;
    flex-direction: column;
   justify-content: center;
   margin: auto;
   width: 400;
  }

  /* academics page */
  .intro-placeholder{
    font-size: 0.6em;
    padding-top: 48px;
  }

  .program-wrapper{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
  }

  .program-cards-container{
    display: flex;
    flex-direction: row;
  }

  .programs-left, .programs-center, .programs-right{
    display: flex;
    flex-direction: column;
    font-size: 0.5em;
  }

  .program-content-cards{
    display: flex;
    justify-content: center;
    width: 120px;
    height: 80px;
    align-items: center;
  }

.tab{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  margin: auto;
}
  .tab button{
    font-size: 0.4em;
    width: 100px;
  }

  .tabcontent{
    width: 75%;
    font-size: 0.7em;
  }


  .college-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    grid-gap: 0.5rem;
    padding: 0 8vw 0 8vw;
  }
  
.college-card {
  text-align: center;
  height: auto;
  width: auto;
  overflow: hidden;
  border-radius: 8px;
  background-color: #0F52BA;
  transition: transform .2s;
  margin: auto;
  border: 2px solid #7CB9E8;
  font-size: 0.8em;
}

/* news */

#related-post {
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  gap: 16px;
  margin: 24px;
}

.rp-wrap {
  display: grid;
  grid-template-columns: auto;
  margin: 32px;
}

.rp-wrap hr {
  color: #fff;
  font-size: 2em;
  width: 80vw;
  margin: 12px 0px 24px 0px;
}

.rp-content-wrap {
  display: grid;
  grid-template-columns: auto auto;
  gap: 12px;
}

.fb-page {
  width: 400px;
}
#related-post hr {
  margin: 12px;
}
.news-card-wrap {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 4px;
  margin: 8px;
}

.n-card {
  width: 80%;
  height: auto;
  border: solid 2px #fff;
  position: relative;
}

.n-card a {
  text-decoration: none;
  position: relative;
}

.n-card a:visited {
  color: fff;
  text-decoration: none;
}

.n-card img {
  opacity: 0.95;
  width: 100%;
  height: 100%;
}

.n-card .news-title {
  position: absolute;
  bottom: 6px;
  padding-left: 2px;
}

.n-card .news-title h4 {
  color: #fff;
  text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
    0 -2px black;
}
/* tuition */
.tablinkTF{
  font-size: 0.6em;
}

.tabcontentTF{
  padding: 48px 16px;
}

.tuitiontable-wrapper h3{
  border: 2px solid #1034A6;
  background-color: #002387;
  width: fit-content;
  border-radius: 4px;
  margin: auto;
  padding: 4px;
}



.tuitiontable-wrapper table, .tuitiontable-wrapper th, .tuitiontable-wrapper td{
  border:2px solid #002387;
  background-color: #0066b2;
  margin: 8px;
  width: fit-content;
  align-items: center;
  font-size: 1em;
}

.tuitiontable-wrapper td{
  padding: 2px;
}

.college-tuition-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 1.2em;
  height: auto;
  margin: auto;
  width: 100%;
}

.college-tuition-wrapper h3, .college-tuition-wrapper h4{
  border-bottom: 2px solid #fff;
  margin: 8px;
}

.college-tuition-wrapper div ul li{
  margin-left: 24px;
}

.college-tuition-wrapper div ul li ul, .college-tuition-wrapper p{
 margin-left: 24px;
}


.college-tuition-wrapper .college-tuition-container{
  display: grid;
  grid-template-columns: auto;
  margin: auto;
  align-self: center;
  padding: 16px;
  gap: 48px;
}

/* facilities page */
.modal-content{
  top: 180px;
  margin: auto;

  width: 80%;
}

.prev,
.next {
  top: 55%;
  background-color: rgba(0, 0, 0, 0.8);
}

.prev:hover,
.next:hover {
  background-color: rgba(95, 95, 95, 0.8);
}
.mySlides img{
  height: 100%;
  width: 100%;
}

/* student organization */
.stud-orgs-container{
  grid-template-columns: 1fr 1fr;
}

.so-item{
  font-size: 0.8em;
  height: 260px;
}


/* college courses */

.breadcrumbs-wrapper{
  display: flex;
  justify-content: start;
  margin: 4px;
  padding: 8px;
  background-color: #0066b2;
  border-radius: 8px;
}

.breadcrumbs-wrapper h3{
  width: auto;
  font-size: 0.9em;
}

.courses-title{
  font-size: 0.6em;
  width: 100%;
  padding: 8px;

}

.courses-title .course-offered{
  font-size: 1em;
}

#course-wrapper{
  display: grid;
  grid-template-columns: auto;
  margin: auto;
  text-align: left;
  height: auto;
  justify-content: center;
  width: 100%;
  border-top: 2px solid #fff;
  padding: 24px;
}

#course-wrapper .course-container{
  display: grid;
  grid-template-columns: auto;
  justify-content: space-evenly;
  width: auto;
  gap: 12px;
  font-size: 1em;
}

.career-card-wrapper{
  display: grid;
  grid-template-columns: auto auto;
  width: auto;
  gap: 12px;
}

.footer{
  font-size: 0.72em;
}

.footer .footer-wrapper{
  gap: 8px;
}
}
@media (min-width: 320px) and (max-width: 480px) {
  header {
    padding: 10px 20px;
    background-color: #003399;
    z-index: 20;
  }
  header nav {
    position: absolute;
    width: 100%;
    top: 66px;
    left: 0px;
    background-color: #003399;
    display: none;
  }

  header a h2{
    font-size: 0.9em;
  }

  header.active nav {
    display: initial;
  }
  header nav ul li {
    margin: auto;
    width: 100%;
  }
  header nav ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }
  header nav ul li ul li {
    top: 0;
    left: 0;
  }
  header nav ul li:hover ul li {
    background-color: #003399;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuToggle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(-12px);
    box-shadow: 0 12px #fff;
  }
  .menuToggle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(12px);
  }
  header.active .menuToggle::before {
    transform: rotate(45deg);
    box-shadow: 0 0 #fff;
  }

  header.active .menuToggle::after {
    transform: rotate(315deg);
  }

  .welcome-wrapper{
    height: 50%;
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    padding: 64px 16px 28px 16px;
    align-items: center;
    gap: 16px;
    width: 100%;
  }

  .welcome-text{
    padding-top: 24px;
  }
  .welcome-text div h1{
    font-size: 1.4em;
  }

  .welcome-video video{
    width: 100%;
  }

  .button-intro-container .btn{
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    background-color: #FFD700;
    padding: 13px 35px;
    width: auto;
    height: auto;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-top: 16px;
  }

  .buttons-container .btn{
text-align: center;
font-size: 0.7em;
padding: 2px;
  }

  .school-info-wrapper{
    width: 100%;
    padding: 24px;
  }

  .school-info-intro div h1{
    font-size: 1em;
  }

  .school-info-container{
    display: grid;
    margin: auto;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .school-card{
    width: 120px;
    height: auto;
    font-size: 1em;
  }

/* about us page */
  /* history */
  .contact-us,
  .contact-content,
  .vm-container,
  .core-values,
  .ec-container,
  .hymn,
  .hymn iframe {
    display: grid;
    grid-template-columns: auto;
    width: 80vw;
    font-size: 0.8em;
  }

  .core-values #cv-items {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: auto;
    font-size: 1em;
  }
  .history {
    font-size: 0.8em;
    text-align: justify;
    width: 100%;
  }
/* admission page */
.tabAD{
  float: left;
  background-color: #0F52BA;
  width: 30%;
  height: 420px;
  border-top: 1px solid #ccc;
}
.tablinkAD {
  display: block;
  background-color: inherit;
  color: #fff;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.8em;
}

.tablinkAD:hover {
  background-color: #1034A6;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontentAD {
  float: left;
  padding: 0px 12px;
  border-top: 1px solid #ccc;
  width: 70%;
  font-size: 0.5em;
  border-left: none;
  height: 300px;
}

.acadcontent-wrapper{
  display: flex;
  flex-direction: column;
 justify-content: center;
 gap: 24px;
 padding: 24px;
 margin: auto;
 width: 100%;
}

.acadcontent-wrapper p{
  font-size: 1em;
}

.contacts-container{
  margin: 2px;
}

  /* academics page */
  .intro-placeholder{
    font-size: 0.6em;
    padding-top: 48px;
  }

  .program-wrapper{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
  }

  .program-cards-container{
    display: flex;
    flex-direction: column;
  }

  .programs-left, .programs-center, .programs-right{
    display: flex;
    flex-direction: row;
    font-size: 0.5em;
  }

  .program-content-cards{
    display: flex;
    justify-content: center;
    width: 120px;
    height: 80px;
    align-items: center;
  }

.tab{
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
}
  .tab button{
    font-size: 0.4em;
    width: 100px;
  }

  .tabcontent{
    width: 75%;
    font-size: 0.7em;
  }


  .college-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    grid-gap: 0.5rem;
    padding: 0 8vw 0 8vw;
  }
  
.college-card {
  text-align: center;
  height: auto;
  width: auto;
  overflow: hidden;
  border-radius: 8px;
  background-color: #0F52BA;
  transition: transform .2s;
  margin: auto;
  border: 2px solid #7CB9E8;
  font-size: 0.8em;
}

/* news */
#related-post {
  height: auto;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 16px;
  border-top: 2px solid #fff;
}

.rp-wrap {
  display: grid;
  grid-template-columns: auto;
  margin: 24px;
}

.rp-wrap hr {
  color: #fff;
  font-size: 2em;
  width: 80vw;
  margin: 12px 0px 24px 0px;
}

.rp-content-wrap {
  display: grid;
  grid-template-columns: auto auto;
  gap: 12px;
}

.fb-page {
  text-align: center;
  width: 400px;
}
#related-post hr {
  margin: 4px;
}
.news-card-wrap {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
  margin: auto;
  padding: 24px;
}

.n-card {
  width: 160px;
  height: 220px;
  border: solid 2px #fff;
  position: relative;
  margin: auto;
}

.n-card a {
  text-decoration: none;
  position: relative;
}

.n-card a:visited {
  color: fff;
  text-decoration: none;
}

.n-card img {
  opacity: 0.95;
  width: 100%;
  height: 100%;
}

.n-card .news-title {
  position: absolute;
  bottom: 6px;
  padding-left: 2px;
}

.n-card .news-title h4 {
  color: #fff;
  text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
    0 -2px black;
}
/* tuition */
.tablinkTF{
  font-size: 0.6em;
}

.tabcontentTF{
  padding: 48px 16px;
}

.tuitiontable-wrapper h3{
  border: 2px solid #1034A6;
  background-color: #002387;
  width: fit-content;
  border-radius: 4px;
  margin: auto;
  padding: 4px;
}



.tuitiontable-wrapper table, .tuitiontable-wrapper th, .tuitiontable-wrapper td{
  border:2px solid #002387;
  background-color: #0066b2;
  margin: 8px;
  width: fit-content;
  align-items: center;
  font-size: 0.85em;
}

.tuitiontable-wrapper td{
  padding: 2px;
}

.college-tuition-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 1.2em;
  height: auto;
  margin: auto;
  width: 100%;
}

.college-tuition-wrapper h3, .college-tuition-wrapper h4{
  border-bottom: 2px solid #fff;
  margin: 8px;
}

.college-tuition-wrapper div ul li{
  margin-left: 24px;
}

.college-tuition-wrapper div ul li ul, .college-tuition-wrapper p{
 margin-left: 24px;
}


.college-tuition-wrapper .college-tuition-container{
  display: grid;
  grid-template-columns: auto;
  margin: auto;
  align-self: center;
  padding: 16px;
  gap: 48px;
}

/* facilities page */
.modal-content{
  top: 180px;
  margin: auto;

  width: 80%;
}

.prev,
.next {
  top: 55%;
  background-color: rgba(0, 0, 0, 0.8);
}

.prev:hover,
.next:hover {
  background-color: rgba(95, 95, 95, 0.8);
}
.mySlides img{
  height: 100%;
  width: 100%;
}

/* student organization */
.stud-orgs-container{
  grid-template-columns: 1fr;
}

.so-item{
  font-size: 0.8em;
  height: 260px;
}


/* college courses */

.breadcrumbs-wrapper{
  display: flex;
  justify-content: start;
  margin: 4px;
  padding: 8px;
  background-color: #0066b2;
  border-radius: 8px;
}

.breadcrumbs-wrapper h3{
  width: auto;
  font-size: 0.9em;
}

.courses-title{
  font-size: 0.6em;
  width: 100%;
  padding: 8px;

}

.courses-title .course-offered{
  font-size: 0.8em;
}

#course-wrapper{
  display: grid;
  grid-template-columns: auto;
  margin: auto;
  text-align: left;
  height: auto;
  justify-content: center;
  width: 100%;
  border-top: 2px solid #fff;
  padding: 24px;
}

#course-wrapper .course-container{
  display: grid;
  grid-template-columns: auto;
  justify-content: space-evenly;
  width: auto;
  gap: 12px;
  font-size: 0.5em;
}

.career-card-wrapper{
  display: grid;
  grid-template-columns: auto auto;
  width: auto;
  gap: 12px;
}


.footer .footer-wrapper{
  gap: 8px;
}

.footer .footer-content p {
  font-size: 0.6em;
}

.copyright p{
  font-size: 0.6em;
}
}